*{
    box-sizing: border-box;
}

.body{
    padding: 0;
    margin: 0;
}

.fb{
    margin-left: 15%;
}

.tw{
    margin-right: 00px;
}

.hvideo{
    margin:10%;
}

.homertitulo{
    text-align: center;
    margin-top: 3%;

}

.homer{
    text-align: center;

}

.pjnext1{
    color: white;
}

.hr1{
    color: white;
}

.footer{
    background-color: #F8C947;
    height: 60%;
}

.botonbart{
    margin: 1%;
}